root /home/{{ item.0.name }}{{ item.1.docroot | default("/deployments/current/") }};

default_type         text/html;

index index.php index.html;

# Block the following folders to the outside
location ~ /(var|sql|pdf_invoices|purchase_orders\/|vendor|etc) {
    deny all;
    return 404;
}

# Block the following files from being accessed
location ~ /\.(sql|tar|md|log|conf|yml|yaml|json|lock|bakop|sh|rb|gulpfile.js|webpack.config.js|swp) {
    deny all;
    return 404;
}

#Block direct acces to the .well-known
location ~ /\.(?!well-known).* {
    deny all;
    return 404;
}

location / {
    try_files $uri $uri/ /index.php?$args;
}
